/* menu.css */
.menu-page {
    padding: 100px 0 50px;
    background-color: var(--light-color);
    width: 100%;
}

.menu-page .container {
    padding: 0 70px;
}

.menu-content{
    width: 100%;
}

.menu-title {
    font-size: 64px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.menu-subtitle {
    color: var(--text-light);
    margin-bottom: 70px;
    font-size: 20px;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Menu Navigation */
.menu-nav {
    margin: 30px 0 40px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.menu-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
    text-decoration: none;
    border: 2px solid var(--dark-color);
    border-radius: 15px;
    transition: var(--transition);
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-family: quicksand-book;
    gap: 10px;
}

.menu-nav a:hover,
.menu-nav a.active {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

/* Menu Sections */
.menu-section {
    margin-bottom: 60px;
    scroll-margin-top: 120px;
}

.menu-section h2 {
    font-size: 2.5rem;
    color: var(--dark-color);
    border-bottom: 2px solid var(--accent-color);
    margin-left: 100px;
}

.section-note {
    font-style: italic;
    color: var(--text-light);
    margin-bottom: 20px;
    margin-left: 100px;
}

/* Menu Items */
.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.menu-item {
    width: 340px;
    height: 410px;
    border: 2px solid var(--dark-color);
    border-radius: 20px;
    padding: 20px;
    background-color: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
    display: flex;
    flex-direction: column;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-color: var(--red-color);
    background-color: var(--secondary-color);
}

.menu-item-img {
    width: 300px;
    height: 175px;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 2px solid var(--dark-color);
}

.item-info{
    flex: 1;
    display: flex;
    flex-direction: column;
}


.item-info h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.item-info p{
    color: var(--dark-color);
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 15px;
    flex-grow: 1;
}

.dish-korean {
    font-family: quicksand-book;
    font-size: 1rem;
    color: var(--text-light);
    margin-bottom: 10px;
    font-weight: 400;
}

.price {
    font-family: quicksand-book;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: auto;
    text-align: left;
}
/* Responsive */
@media (max-width: 768px) {
    .menu-items {
        display: grid;
        grid-template-columns: repeat(auto-fill, 280px);
        justify-content: center;
    }

    .menu-item {
        width: 250px;
        height: 450px;
    }

    .menu-item-img{
        width: 100%;
    }

    .menu-section h2{
        margin-left: 40px;
    }

    .section-note{
        margin-left: 40px;
    }


@media (max-width: 480px){

    .menu-page .container{
        margin: 10px;
        padding: 0;
        max-width: 100%;
        margin: 0 auto;
    }

    .menu-title{
        line-height: 1;
    }

    .menu-subtitle{
        font-size: 1rem;
        padding: 20px;
    }

    .menu-items {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        justify-content: center;
    }

    .menu-item {
        width: 300px;
        height: 430px;
    }

    .menu-section h1{
        font-size: 3rem;
    }

    .menu-section h2{
        margin-left: 20px;
        font-size: 2.2rem;
    }

    .menu-section .section-note{
        margin-left: 20px;
        font-size: 1rem;
    }

    .section-note{
        margin-left: 0;
        font-size: 18px;
    }
}

}